* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 100%;
    height: 100vh;

    font-family: Arial, sans-serif;
    background-color: #FFFFFF; 
}

.generator-panel, .switch-panel {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.generator-panel {
    width: 450px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.num-controls-panel, .str-controls-panel, .color-controls-panel, .date-options-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.str-inputs-panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.switch-panel {
    width: 450px;
    height: 72px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.switch-item{
    font-size: 20px;
}

.hidden {
    display: none;
}

.selected{
    color: #FF8C00; 
}

input[type="checkbox"], button, .switch-item{
    cursor: pointer;
}

button {
    width: 72px;
    height: 30px;
    background-color: #FF8C00; 
    color: #FFFFFF; 
    border: none; 
    border-radius: 15px; 
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFA726; 
}

#gen-color, #gen-date {
    width: 115px;
}

input{
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0; 
    padding: 5px;
    border-radius: 10px; 
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.1s;
}

input[type="text"], input[type="number"]{
    width: 72px;
}

input[type="date"]{
    width: 100px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus{
    outline: 2px solid #FF8C00; 
}

.result{
    font-weight: bold;
    font-size: 48px;
    margin-top: 20px;

    width: 95%;
    height: 70px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    display: flex;
    align-items: safe center;
    justify-content: safe center;
}

@media screen and (max-width: 480px) {
    .generator-panel, .switch-panel{
        width: 95vw;
    }
}